{% extends 'OdysseusFrontBundle::layout.html.twig' %}
{% block content %}
<div class="row">
	<!-- Titre de la page -->
	<div class="col-lg-12">
		<h2>Panier d'achats</h2>
	</div>
	<!-- Panier d'achats -->
	<div class="col-lg-12">	
		<!--<div class="row">
			<div class="col-md-12">
				<div class="pull-right">
					<a href="#" class="btn btn-lg btn-default"><i class="glyphicon glyphicon-refresh"></i> UPDATE</a>
					<a href="#" class="btn btn-lg btn-greend"><i class="glyphicon glyphicon-shopping-cart icon-white"></i> CHECK OUT</a>
				</div>
			</div>
		</div>-->
		<div class="row">
			<div class="col-md-12">
				<!-- Shopping Cart Items -->
				<table class="shopping-cart">
					<!-- Shopping Cart Item -->
					<tbody><tr>
						<!-- Shopping Cart Item Image -->
						<td class="image"><a href="product_detail.html"><img src="{{ asset('/bundles/odysseusfront/images/product1.jpg') }}" alt="Item Name"></a></td>
						<!-- Shopping Cart Item Description & Features -->
						<td>
							<div class="item-title"><a href="product_detail.html">LOREM IPSUM DOLOR</a></div>
							<ul class="rating hidden-xs">
								<li><span class="glyphicon glyphicon-star star-on" aria-hidden="true"></span></li>
								<li><span class="glyphicon glyphicon-star star-on" aria-hidden="true"></span></li>
								<li><span class="glyphicon glyphicon-star star-on" aria-hidden="true"></span></li>
								<li><span class="glyphicon glyphicon-star star-on" aria-hidden="true"></span></li>
								<li><span class="glyphicon glyphicon-star star-on" aria-hidden="true"></span></li>
							</ul>
							<div class="feature">Taille: <b>XXL</b></div>
						</td>
						<!-- Shopping Cart Item Quantity -->
						<td class="quantity">
							<input class="form-control input-sm input-micro" value="1" type="text">
						</td>
						<!-- Shopping Cart Item Price -->
						<td class="price">999.99 €</td>
						<!-- Shopping Cart Item Actions -->
						<td class="actions">
							<a href="#" class="btn btn-xs btn-default"><i class="glyphicon glyphicon-pencil"></i></a>
							<a href="#" class="btn btn-xs btn-danger"><i class="glyphicon glyphicon-trash"></i></a>
						</td>
					</tr>
					<!-- End Shopping Cart Item -->
					<tr>
						<td class="image"><a href="product_detail.html"><img src="{{ asset('/bundles/odysseusfront/images/product1.jpg') }}" alt="Item Name"></a></td>
						<td>
							<div class="item-title"><a href="product_detail.html">LOREM IPSUM DOLOR</a></div>
							<ul class="rating hidden-xs">
								<li><span class="glyphicon glyphicon-star star-on" aria-hidden="true"></span></li>
								<li><span class="glyphicon glyphicon-star star-on" aria-hidden="true"></span></li>
								<li><span class="glyphicon glyphicon-star star-off" aria-hidden="true"></span></li>
								<li><span class="glyphicon glyphicon-star star-off" aria-hidden="true"></span></li>
								<li><span class="glyphicon glyphicon-star star-off" aria-hidden="true"></span></li>
							</ul>
							<div class="feature">Taille: <b>XXL</b></div>
						</td>
						<td class="quantity">
							<input class="form-control input-sm input-micro" value="1" type="text">
						</td>
						<td class="price">999.99 €</td>
						<td class="actions">
							<a href="#" class="btn btn-xs btn-default"><i class="glyphicon glyphicon-pencil"></i></a>
							<a href="#" class="btn btn-xs btn-danger"><i class="glyphicon glyphicon-trash"></i></a>
						</td>
					</tr>
					<tr>
						<td class="image"><a href="product_detail.html"><img src="{{ asset('/bundles/odysseusfront/images/product1.jpg') }}" alt="Item Name"></a></td>
						<td>
							<div class="item-title"><a href="product_detail.html">LOREM IPSUM DOLOR</a></div>
							<ul class="rating hidden-xs">
								<li><span class="glyphicon glyphicon-star star-on" aria-hidden="true"></span></li>
								<li><span class="glyphicon glyphicon-star star-on" aria-hidden="true"></span></li>
								<li><span class="glyphicon glyphicon-star star-on" aria-hidden="true"></span></li>
								<li><span class="glyphicon glyphicon-star star-on" aria-hidden="true"></span></li>
								<li><span class="glyphicon glyphicon-star star-off" aria-hidden="true"></span></li>
							</ul>
							<div class="feature">Taille: <b>XXL</b></div>
						</td>
						<td class="quantity">
							<input class="form-control input-sm input-micro" value="1" type="text">
						</td>
						<td class="price">999.99 €</td>
						<td class="actions">
							<a href="#" class="btn btn-xs btn-default"><i class="glyphicon glyphicon-pencil"></i></a>
							<a href="#" class="btn btn-xs btn-danger"><i class="glyphicon glyphicon-trash"></i></a>
						</td>
					</tr>
				</tbody></table>
				<!-- End Shopping Cart Items -->
			</div>
		</div>
		<div class="row">
			<!-- Promotion Code -->
			<div class="col-md-4">
				<div class="cart-promo-code">
					<h6><i class="glyphicon glyphicon-gift"></i> Code promotionel ?</h6>
					<div class="input-group">
						<input class="form-control input-sm" id="appendedInputButton" value="" type="text">
						<span class="input-group-btn">
							<button class="btn btn-sm btn-default btn-promo" type="button">Utiliser</button>
						</span>
					</div>
				</div>
			</div>
			<!-- Shipment Options -->
			<div class="col-md-4">
				<div class="cart-shippment-options">
					<h6><i class="glyphicon glyphicon-plane"></i> Méthode de livraison</h6>
					<div class="input-append">
						<select class="form-control input-sm">
							<option value="1">Standard - Gratuit</option>
							<option value="2">Collissimo 24h - 12,50 €</option>
						</select>
					</div>
				</div>
			</div>
			
			<!-- Shopping Cart Totals -->
			<div class="col-md-4">
				<table class="cart-totals">
					<tbody><tr>
						<td><b>Livraison</b></td>
						<td>GRATUIT</td>
					</tr>
					<tr>
						<td><b>Remise</b></td>
						<td>- 18.00 €</td>
					</tr>
					<tr class="cart-grand-total">
						<td><b>Total</b></td>
						<td><b>163,55 €</b></td>
					</tr>
				</tbody></table>
			</div>

			<!-- Action Buttons -->
			<div class="col-md-12">
				<div class="pull-right">
					<a href="#" class="btn btn-lg btn-default"><i class="glyphicon glyphicon-refresh"></i> METTRE A JOUR</a>
					<a href="{{ path('odysseus_front_order_index') }}" class="btn btn-lg btn-greend"><i class="glyphicon glyphicon-shopping-cart icon-white"></i> COMMANDER</a>
				</div>
			</div>
		</div>
	</div>
			
</div>
{% endblock %}