{% extends 'OdysseusFrontBundle::layout.html.twig' %}
{% block content %}
    <div class="row">
        <!-- Titre de la page -->
        <div class="col-lg-12">
            <h2>Commande</h2>
        </div>
        <!-- Commande -->
        <div class="col-lg-12">
            <div class="row form-group">
                <div class="col-xs-12">
                    <ul class="nav nav-pills nav-justified thumbnail setup-panel">
                        <li class="active">
                            <a href="#step-1">
                                <h4 class="list-group-item-heading">ADRESSE</h4>
                                <p class="list-group-item-text">Choix d'adresse</p>
                            </a>
                        </li>
                        <li class="disabled">
                            <a href="#step-2">
                                <h4 class="list-group-item-heading">LIVRAISON</h4>
                                <p class="list-group-item-text">Méthode de livraison</p>
                            </a>
                        </li>
                        <li class="disabled">
                            <a href="#step-3">
                                <h4 class="list-group-item-heading">PAIEMENT</h4>
                                <p class="list-group-item-text">Moyen de paiement</p>
                            </a>
                        </li>
                        <li class="disabled" id="validationTab">
                            <a href="#step-4">
                                <h4 class="list-group-item-heading">VALIDATION</h4>
                                <p class="list-group-item-text">Dernière vérification</p>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            {{ form_start(form, {'attr':{'class':'form-horizontal'}}) }}
            
            {% include "OdysseusFrontBundle:Order:step1.html.twig" %}
            {% include "OdysseusFrontBundle:Order:step2.html.twig" %}
            {% include "OdysseusFrontBundle:Order:step3.html.twig" %}
            {% include "OdysseusFrontBundle:Order:step4.html.twig" %}

            {{ form_end(form) }}
        </div>
       
    </div>
{% endblock %}