{% extends 'OdysseusFrontBundle:User:column2.html.twig' %}

{% block content_title %}MON COMPTE - AJOUT D'UN ARTICLE{% endblock content_title %}

{% block column_content %}
    <!-- Page Content -->
    <div>
        {{ 
            form_start(form, {
                'method':'POST',
                'attrs':{
                    'class' : 'form-horizontal form-register'
                }
            }) 
        }}
        {{ form_errors(form) }}
        
        {{ form_end(form) }}
        <div class="row">
            <!-- Commande -->
            <div class="col-lg-12">
                <div class="row form-group">
                    <div class="col-xs-12">
                        <ul class="nav nav-pills nav-justified thumbnail setup-panel">
                            <li class="active"><a href="#step-1">
                                    <h4 class="list-group-item-heading">ARTICLE</h4>
                                    <p class="list-group-item-text">Informations de l'article</p>
                                </a></li>
                            <li class="disabled"><a href="#step-2">
                                    <h4 class="list-group-item-heading">MODÈLE</h4>
                                    <p class="list-group-item-text">Détails de votre vente</p>
                                </a></li>
                        </ul>
                    </div>
                </div>
                <form class="form-horizontal" method="POST" action="confirmation.html" enctype="multipart/form-data">
                    <!-- ETAPE 1 -->
                    <div class="row setup-content" id="step-1">
                        <div class="col-lg-12">
                            <div class="titleHeader clearfix">
                                <h3>Informations de livraison</h3>
                            </div>
                            <div class="form-group">
                                <label for="article" class="col-sm-3 control-label">Nom de l'article *</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="article" name="article" placeholder="Entrez le nom de l'article" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="description" class="col-sm-3 control-label">Description *</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="description" name="description" placeholder="Entrez la description de l'article" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="categorie" class="col-sm-3 control-label">Catégorie *</label>
                                <div class="col-sm-9">
                                    <select class="form-control" id="categorie" name="categorie" required>
                                        <option value="" disabled selected>Entrez la catégorie de l'article</option>
                                        <option>TV / Vidéo</option>
                                        <option>Informatique</option>
                                        <option>Téléphonie</option>
                                        <option>Electroménager</option>
                                        <option>Maison / Déco</option>
                                        <option>Prêt à porter</option>
                                        <option>Livres</option>
                                        <option>Billeterie</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="telfixe" class="col-sm-3 control-label">Images *</label>
                                <div class="col-sm-9">
                                    <input name="userfile[]" type="file" required />
                                    <input name="userfile[]" type="file" required />
                                    <input name="userfile[]" type="file" required />
                                    <p style="font-style:italic; color: #666; margin-top:5px">(format recommandé: 700x360)</p>
                                </div>
                            </div>
                            <button type="button" id="activate-step-2" class="btn btn-greend btn-long pull-right">Passer à l'étape suivante</button>
                        </div>
                    </div>
                    <!-- ETAPE 2 -->
                    <div class="row setup-content" id="step-2">
                        <div class="col-lg-12">
                            <div class="titleHeader clearfix">
                                <h3>Détails de votre vente</h3>
                            </div>
                            <div class="form-group">
                                <label for="modele" class="col-sm-3 control-label">Modèle *</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="modele" name="modele" placeholder="Entrez le modèle">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="prix" class="col-sm-3 control-label">Prix (en €) *</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="prix" name="prix" placeholder="Entrez le prix de l'article" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="poids" class="col-sm-3 control-label">Poids (en kg) *</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="poids" name="poids" placeholder="Entrez le poids de l'article" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="longueur" class="col-sm-3 control-label">Longueur (en cm) *</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="longueur" name="longueur" placeholder="Entrez la longueur de l'article" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="largeur" class="col-sm-3 control-label">Largeur (en cm) *</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="largeur" name="largeur" placeholder="Entrez la largeur de l'article" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="epaisseur" class="col-sm-3 control-label">Epaisseur (en cm) *</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="epaisseur" name="epaisseur" placeholder="Entrez l'epaisseur de l'article" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="etat" class="col-sm-3 control-label">État *</label>
                                <div class="col-sm-9">
                                    <select class="form-control" id="etat" name="etat" required>
                                        <option value="" disabled selected>Entrez l'état de l'article</option>
                                        <option>Comme neuf</option>
                                        <option>Très bon état</option>
                                        <option>Bon état</option>
                                        <option>État correct</option>
                                        <option>Usé</option>
                                    </select>
                                </div>
                            </div>
                            <button type="submit" id="activate-step-3" class="btn btn-greend btn-long pull-right">Passer à l'étape suivante</button>
                        </div>
                    </div>
                </form>
                <!-- ETAPE 3 -->
                <div class="row setup-content" id="step-3">
                    <div class="col-xs-12">
                        <div class="col-md-12 well text-center">
                            <h1 class="text-center" style="margin:10px 0px 15px">Votre article à été ajouté !</h1>
                            <h4 class="text-center">Retrouvez tous les détails de votre article dans votre <a href="account_index.html">espace personnel</a>.</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.page content -->
{% endblock %}