{% extends 'OdysseusFrontBundle::layout.html.twig' %}

{% block content %}
<div class="row">
	<!-- Titre de la page -->
	<div class="col-lg-12">
		<h2>Nous contacter</h2>
	</div>
	<!-- Informations générales de contact -->
	<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
		<div class="contact-info">
			<div class="titleHeader clearfix">
				<h3>Informations de contact</h3>
			</div>
			<address>
				<strong><span class="glyphicon glyphicon-home" aria-hidden="true"></span> Adresse</strong><br>
				InstanTrade, Inc.<br>
				78, Avenue du derp<br>
				75019, PARIS<br>
			</address>
			<address>
				<strong><span class="glyphicon glyphicon-phone-alt" aria-hidden="true"></span> Téléphone</strong><br>
				<abbr title="Numéro de tél. Fixe">Fixe:</abbr> 01 23 45 67 89<br>
				<abbr title="Numéro du Fax">Fax:</abbr> 01 23 45 67 89
			</address>
			<address>
				<strong><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> E-mail</strong><br>
				<abbr title="E-mail du Service Marketing">Service Marketing:</abbr> <a href="mailto:marketing@instantrade.com">marketing@instantrade.com</a><br>
				<abbr title="E-mail du Service Après-vente">Service Après-vente:</abbr> <a href="mailto:sav@instantrade.com">sav@instantrade.com</a>
			</address>
		</div>
	</div>
	<!-- Carte Google & Formulaire de contact -->
	<div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
		<div class="google-map">
			<div class="titleHeader clearfix">
				<h3>Où nous trouver</h3>
			</div>
			<iframe src="https://www.google.com/maps/embed/v1/place?key=AIzaSyC__J69El1YGAGKxqNSBpz2q0f-N33HGpQ&amp;q=IP+Formation,Paris" height="246"></iframe>
		</div>
            {%if user is not null and not valid%}
		<div class="contact-form">
			<div class="titleHeader clearfix">
				<h3>Formulaire de contact</h3>
			</div>
			<form method="POST" action="">
				<div class="row">
					<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6"><input class="form-control" placeholder="Votre nom" type="text" value="{{user.infos[0].lastName}} {{user.infos[0].firstName}}"></div>
					<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6"><input class="form-control" placeholder="Votre adresse e-mail" type="text" value="{{user.email}}"></div>
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12"><textarea class="form-control" name="message" placeholder="Votre message"></textarea></div>
				</div>
				<div class="controls">
					<button type="submit" class="btn btn-greend pull-right">Envoyer le message</button>
				</div>
			</form>
		</div>
            {%endif%}
            
            {% if valid %}
                <div class="contact-form">
                    <div class="titleHeader clearfix">
				<h3>Formulaire de contact</h3>
			</div>
                            <div class="well text-center" style='margin-top: 20px;'>
                                <h1 class="text-center" style="margin:10px 0px 15px">Votre message a été envoyé au support avec succès !</h1>
                            </div>
                </div>
            {% endif %}
	</div>
</div>
{% endblock %}