{% extends 'OdysseusAdminBundle:Category:form.html.twig' %}
{% block title %}Modification Catégorie #{{ category.id }}{% endblock %}
{% block form_title %}Modification Catégorie #{{ category.id }}{% endblock %}
{% block form_submit %}Sauvegarder{% endblock %}

{% block operations %}
    <li class="list-group-item">
        <a href="{{ path('odysseus_admin_category') }}">Nouvel catégorie</a>
    </li>
    <li class="list-group-item">
        <a onclick="return confirm('Voulez-vous vraiment supprimer?');" href="{{ path('odysseus_admin_category_delete', {'id' : category.id}) }}">Supprimer</a>
    </li>
{% endblock operations %}
