{% extends 'OdysseusFrontBundle::layout.html.twig' %}
{% block content %}
<div class="row">
	<!-- Titre de la page -->
	<div class="col-lg-12">
		<h2>FICHE PRODUIT</h2>
	</div>
	
	<!-- Images du produit -->
	<div class="col-sm-6">
		<div class="product-image-large slider slider-for">
			<div><img src="http://placehold.it/700x360/009900/eeeeee"/></div>
			<div><img src="http://placehold.it/700x360/990000/eeeeee"/></div>
			<div><img src="http://placehold.it/700x360/000099/eeeeee"/></div>
			<div><img src="http://placehold.it/700x360/999900/eeeeee"/></div>
		</div>
		<div id="product_gallery" class="slider slider-nav">
			<div><img src="http://placehold.it/194x100/009900/eeeeee"/></div>
			<div><img src="http://placehold.it/194x100/990000/eeeeee"/></div>
			<div><img src="http://placehold.it/194x100/000099/eeeeee"/></div>
			<div><img src="http://placehold.it/194x100/999900/eeeeee"/></div>
		</div>
	</div>
	<!-- Détails & Options du produit -->
	<div class="col-sm-6 product-details">
		<h4>{{article.brand}} - {{article.name}}</h4>
		
		<h5>Description : </h5>
		<p>
			{{article.description}}
		</p>
		
	</div>
	
</div>
{% endblock %}