{% extends 'OdysseusAdminBundle::layout.html.twig' %}

{% block body %}
<div class="container">
    <div class="row">
        {% block content %}
        {% endblock content %}
    </div>
</div>
{% endblock %}